/DATA/*.mcap
/conan_output/
CMakeUserPresets.json
/.obj-x86_64-linux-gnu/*
/debian/*
/build_*
/AppDir/*
/build/*
/install/*
/log/*

# Sanitizer build/install dirs (in-repo colcon builds)
build_tsan/
install_tsan/
build_asan/
install_asan/
log/
